.App {
    text-align: center;
    color: rgb(0, 0, 0);
    border: 3px solid black;
    font-style: oblique;
    background-color: rgb(255, 245, 108);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    font-size: calc(48px + 2vmin);
    height: 250px;
}

.Menu {
    font-size: 14px;
    padding-left: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid black;
    position: relative;
    top: -3px;
}

.h {
    font-size: 24px;
    background-color: #282c34;
    color: white;
    font-variant-caps: petite-caps;
    text-align: center;
    border: 3px solid black;
    position: relative;
    top: 20px;
}

.trending {
    width: 33.33%;
    height: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: top;
}

.categories {
    width: 33.33%;
    height: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: top;
}

.favs {
    width: 33.33%;
    height: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: top;
}

.trending:hover {
    background-color: rgb(255, 174, 174);
}

.categories:hover {
    background-color: rgb(166, 166, 255);
}

.favs:hover {
    background-color: rgb(79, 255, 79);
    font-size: 25px;
}